<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>

  <body>
    <% include navbar.ejs %>

    <div class="container-fluid">
      <div class="row">
        <% var activeSidebar = 'subscriberView'; %>
        <% include sidebar.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%- title %></h1>
<!-- Grab the various form variables to avoid many in-line if statements. -->
<%
var apmac = ('apmac' in subscriber) ? subscriber['apmac'] : "";
var city = ('city' in subscriber) ? subscriber['city'] : "";
var community = ('community' in subscriber) ? subscriber['community'] : "";
var cpemac = ('cpemac' in subscriber) ? subscriber['cpemac'] : "";
var currentProvider = ('current provider' in subscriber) ? subscriber['current provider'] : "";
var endDate = ('end date' in subscriber) ? subscriber['end date'] : "";
var firstName = ('first name' in subscriber) ? subscriber['first name'] : "";
var holdDate = ('hold date' in subscriber) ? subscriber['hold date'] : "";
var landline = ('landline' in subscriber) ? subscriber['landline'] : "";
var lastName = ('last name' in subscriber) ? subscriber['last name'] : "";
var locationLat = ('lat' in subscriber) ? subscriber['lat'] : "";
var locationLng = ('lng' in subscriber) ? subscriber['lng'] : "";
var mobile = ('mobile' in subscriber) ? subscriber['mobile'] : "";
var notes = ('notes' in subscriber) ? subscriber['notes'] : "";
var plan = ('plan' in subscriber) ? subscriber['plan'] : "";
var priorEmail = ('prior email' in subscriber) ? subscriber['prior email'] : "";
var priority = ('priority' in subscriber) ? subscriber['priority'] : "";
var relaySite = ('relay site' in subscriber) ? subscriber['relay site'] : "";
var signupDate = ('signup date' in subscriber) ? subscriber['signup date'] : "";
var state = ('state' in subscriber) ? subscriber['state'] : "";
var streetAddress = ('street address' in subscriber) ? subscriber['street address'] : "";
var subscribed = ('subscribed' in subscriber) ? subscriber['subscribed'] : "";
var timeAvailability = ('time availability' in subscriber) ? subscriber['time availability'] : "";
var username = ('username' in subscriber) ? subscriber['username'] : "";
%>
          <form id="updateForm" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="firstName" class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" value="<%- firstName %>">
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="lastName" value="<%- lastName %>">
              </div>
            </div>
            <div class="form-group">
              <label for="community" class="col-sm-2 control-label">Community</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="community" value="<%- community%>">
              </div>
            </div>
            <div class="form-group">
              <label for="streetAddress" class="col-sm-2 control-label">Street Address</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="streetAddress" value="<%- streetAddress %>">
              </div>
            </div>
            <div class="form-group">
              <label for="city" class="col-sm-2 control-label">City</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="city" value="<%- city %>">
              </div>
            </div>
            <div class="form-group">
              <label for="state" class="col-sm-2 control-label">State</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="state" value="<%- state %>">
              </div>
            </div>
            <div class="form-group">
              <label for="locationLat" class="col-sm-2 control-label">Location Lat</label>
              <div class="col-sm-2">
              <input type="text" class="form-control" id="locationLat" value="<%- locationLat %>">
              </div>
              <label for="locationLng" class="col-sm-2 control-label">Location Lng</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="locationLng" value="<%- locationLng %>">
              </div>
            <button type="button" id="getLocationButton" class="btn btn-primary">Get Current Location</button><br>
            </div>

            <div class="form-group">
              <label for="mobile" class="col-sm-2 control-label">Mobile</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="mobile" value="<%- mobile %>">
              </div>
            </div>
            <div class="form-group">
              <label for="landline" class="col-sm-2 control-label">Landline</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="landline" value="<%- landline %>">
              </div>
            </div>
            <div class="form-group">
              <label for="priorEmail" class="col-sm-2 control-label">Prior Email</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="priorEmail" value="<%- priorEmail%>">
              </div>
            </div>
            <div class="form-group">
              <label for="priority" class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-9">
                  <select class="form-control" style="width:200px" id="priority">
                    <option value="high">high</option>
                    <option value="medium">medium</option>
                    <option value="low">low</option>
                    <option value="none">none</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="currentProvider" class="col-sm-2 control-label">currentProvider</label>
                <div class="col-sm-9">
                  <select class="form-control" style="width:200px" id="currentProvider">
                    <option value="further reach">further reach</option>
                    <option value="cvc">cvc</option>
                    <option value="ukiah wireless">ukiah wireless</option>
                    <option value="mcn">mcn</option>
                    <option value="satellite">satellite</option>
                    <option value="none">none</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="relaySite" class="col-sm-2 control-label">Relay Site</label>
                <div class="col-sm-9">
                  <select class="form-control" style="width:200px" id="relaySite">
                    <option value="yes">yes</option>
                    <option value="maybe">maybe</option>
                    <option value="no">no</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="timeAvailability" class="col-sm-2 control-label">Time Availability</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="timeAvailability" value="<%- timeAvailability %>">
              </div>
            </div>
            <div class="form-group">
              <label for="plan" class="col-sm-2 control-label">Plan</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="plan" value="<%- plan %>">
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">User Name</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="username" value="<%- username %>">
              </div>
            </div>
            <div class="form-group">
              <label for="signupDate" class="col-sm-2 control-label">Signup Date</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="signupDate" value="<%- signupDate %>">
              </div>
            </div>
            <div class="form-group">
              <label for="endDate" class="col-sm-2 control-label">End Date</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="endDate" value="<%- endDate %>">
              </div>
            </div>
            <div class="form-group">
              <label for="holdDate" class="col-sm-2 control-label">Hold Date</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="holdDate" value="<%- holdDate %>">
              </div>
            </div>
            <div class="form-group">
              <label for="cpemac" class="col-sm-2 control-label">CPE MAC</label>
                <div class="col-sm-9">
                  <select class="form-control" style="width:200px" id="cpemac">
                  <% for (c in cpenodes) { %>
                    <option value="<%- cpenodes[c].mac %>"><%- cpenodes[c].mac %></option>
                  <% } %>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="apmac" class="col-sm-2 control-label">AP MAC</label>
                <div class="col-sm-9">
                  <select class="form-control" style="width:200px" id="apmac">
                  <% for (a in apnodes) { %>
                    <option value="<%- apnodes[a].mac %>"><%- apnodes[a].mac %></option>
                  <% } %>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="notes" class="col-sm-2 control-label">Notes</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="notes" value="<%- notes %>">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label> <input type="checkbox" id="subscribed" <% if (subscribed) { %>checked<% } %>> Subscribed </label>
              </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Save</button><br>
          </form>
          <hr>
          <h1 class="page-header">User Signup Actions</h1>
          <button type="button" class="btn btn-info" id="userGoogleAccountButton">User Google Account Setup</button><br><br>
          <button type="button" class="btn btn-success" id="userBillingSignupButton">User Billing Signup</button><br>
          
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
    // Get the current browser's location and fill it in the form.
    $("#getLocationButton").click(function(event) {
      function setCurrentLocation(location) {
        if ('latitude' in location.coords && 'longitude' in location.coords) {
          lat = location.coords.latitude;
          lng = location.coords.longitude;
          $("#locationLat").val(lat);
          $("#locationLng").val(lng);
        }
      }

      navigator.geolocation.getCurrentPosition(setCurrentLocation);
    });

    // Save the changes to the form.
    $("#updateForm").submit(function(event) {
      event.preventDefault();
 
      // Construct POST message for update.
      update = {};
      update['_id'] = '<%- subscriber['_id'] %>';
      update['apmac'] = $("#apmac option:selected").val();
      update['city'] = $("#city").val();
      update['community'] = $("#community").val();
      update['cpemac'] = $("#cpemac option:selected").val();
      update['current provider'] = $("#currentProvider option:selected").val();
      update['end date'] = $("#endDate").val();
      update['first name'] = $("#firstName").val();
      update['hold date'] = $("#holdDate").val();
      update['landline'] = $("#landline").val();
      update['last name'] = $("#lastName").val();
      update['lat'] = $("#locationLat").val();
      update['lng'] = $("#locationLng").val();
      update['mobile'] = $("#mobile").val();
      update['notes'] = $("#notes").val();
      update['plan'] = $("#plan").val();
      update['prior email'] = $("#priorEmail").val();
      update['priority'] = $("#priority option:selected").val();
      update['relay site'] = $("#relaySite option:selected").val();
      update['signup date'] = $("#signupDate").val();
      update['state'] = $("#state").val();
      update['street address'] = $("#streetAddress").val();
      update['subscribed'] = $("#subscribed").prop('checked');
      update['time availability'] = $("#timeAvailability").val();
      update['username'] = $("#username").val();

      $.post(
        "/subscriber/update",
        update,
        function(response) {
          if ('result' in response && response['result'] == 'ok') {
            window.alert("Saved.");
            window.location.reload();
          } else {
            window.alert("Couldn't save.");
          }
        },
        "json"
      );
    });

    // Open a new window for setting up the user's Google account.
    $("#userGoogleAccountButton").click(function(event) {
      window.alert("Set up google account functionality.");
    });

    // Open a new window to set up the user's billing.
    $("#userBillingSignupButton").click(function(event) {
      var baseurl = {
        "ultra" : "https://furtherreach.chargify.com/h/3408194/subscriptions/new",
        "high" : "https://furtherreach.chargify.com/h/3408195/subscriptions/new",
        "basic" : "https://furtherreach.chargify.com/h/3408196/subscriptions/new",
        "limited" : "https://furtherreach.chargify.com/h/3408198/subscriptions/new",
      };

      // Check that we have some username for the user.
      if ($("#username").val().length == 0) {
        window.alert("Must have a username for the user before setting up billing.");
        return;
      }

      // Check that we know about the plan.
      if (!($("#plan").val() in baseurl)) {
        window.alert("Can't sign up user with unknown plan: " + $("#plan").val());
        return;
      }
      var url = baseurl[$("#plan").val()] + "?email=" + $("#username").val() + "@furtherreach.net";
      window.open(url);
    });
    </script>
  </body>
</html>
