<!DOCTYPE html>
<html lang="en">
  <head>
    <% include header.ejs %>
  </head>

  <body>
    <% include navbar.ejs %>

    <div class="container-fluid">
      <div class="row">
        <% var activeSidebar = 'subscriber'; %>
        <% include sidebar.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%- title %></h1>
          <p class="bg-success"><h3><span class="label label-success">Leads</span></h3></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead><tr><th>Full Name</th><th>Street Address</th><th>City</th><th class="col-sm-1"></th></tr></thead>
              <tbody>
              <% for (l in leads) { %>
              <tr>
                <td><%- leads[l]['first name'] %> <%- leads[l]['last name'] %></td>
                <td><% if ('street address' in leads[l]) { %> <%- leads[l]['street address'] %> <% } %></td>
                <td><% if ('city' in leads[l]) { %> <%- leads[l]['city'] %> <% } %></td>
                <td><a href="/subscriber/view?key=<%- leads[l]['_key'] %>">view/edit</a></td>
              </tr>
              <% } %>
              </tbody>
            </table>
            <a href="#" id="addLead" class="btn btn-primary btn-sm pull-right" role="button">Add Lead</a>
          </div>
          <br><br><br>
          <p class="bg-success"><h3><span class="label label-primary">Subscribers</span></h3></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead><tr><th>Username</th><th>Full Name</th><th>Street Address</th><th>City</th><th>Plan</th><th class="col-sm-1"></th></tr></thead>
              <tbody>
              <% for (s in subscribers) { %>
              <tr>
                <td><%- subscribers[s]['username'] %></td>
                <td><%- subscribers[s]['first name'] %> <%- subscribers[s]['last name'] %></td>
                <td><% if ('street address' in subscribers[s]) { %> <%- subscribers[s]['street address'] %> <% } %> </td>
                <td><% if ('city' in subscribers[s]) { %> <%- subscribers[s]['city'] %> <% } %> </td>
                <td><%- subscribers[s]['plan'] %></td>
                <td><a href="/subscriber/view?key=<%- subscribers[s]['_key'] %>">view/edit</a></td>
              </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
    $("#addLead").click(function() {
      $.post(
        "/subscriber/newuser",
        {
          'apmac' : '',
          'city' : '',
          'community' : '',
          'cpemac' : '',
          'current provider' : '',
          'end date' : '',
          'first name' : 'New',
          'hold date' : '',
          'landline' : '',
          'last name' : 'User',
          'lat' : '',
          'lng' : '',
          'mobile' : '',
          'notes' : '',
          'plan' : '',
          'prior email' : '',
          'priority' : 'low',
          'relay site' : '',
          'signup date' : (new Date()).toJSON(),
          'state' : '',
          'street address' : '',
          'subscribed' : false
          'time availability' : '',
          'username' : '',
        },
        function(response) {
          window.location.reload();
        },
        "json"
      );
    });
    </script>
  </body>
</html>
